body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
  }
.container {
  display: flex;
  flex-direction: column; /* Stack divs vertically */
  gap: 20px; /* Space between each div */
  padding: 20px;
  overflow-y: scroll; /* Enable vertical scrolling */
  max-height: 90vh; /* Limit the container height to the viewport */
}

.container div {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
  /* Ensure each div stretches fully to the width of the container */
  flex: 0 0 auto;
  width: 100%;
}

.container div:hover {
  transform: scale(1.05);
}

.container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 1.8rem;
  color: red; /* Red color for h1 */
  margin: 15px 0;
  font-family: 'Arial', sans-serif;
  text-transform: capitalize;
}

p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  font-family: 'Arial', sans-serif;
  margin-bottom: 10px;
}
